.home {
    height: 100vh;
    width: 100%;
    position: relative;
}

.home::before {
    position: absolute;
    content: '';
    width: 100%;
    height: 100vh;
    right: 0;
    top: 0;
    background: url(../images/textura-fundo.png) right top/cover no-repeat;
    z-index: -1;
}

.home::after {
    position: absolute;
    content: '';
    width: 100%;
    height: 100vh;
    right: 0;
    top: 0;
    background: linear-gradient(to bottom, transparent, var(--bg-color));
    z-index: -1;
}

.header {
    justify-content: space-between;
    padding: 40px 70px;
    align-items: center;
}

.header .logo {
    color: var(--secondary-color);
    font-size: 3.4rem;
}

.highlight-text {
    font-family: var(--secondary-font);
    text-transform: lowercase;
}

@keyframes fade-up {
    0% {
        opacity: 0;
        transform: translateY(40px);
    }

    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}

.header .menu {
    gap: 20px;
    animation: fade-up 3000ms;
}

.header .menu li a {
    font-size: 1.8rem;
    font-weight: 700;
    letter-spacing: 1px;
    padding: 10px 20px;
    border-radius: 3px;
    transition: 200ms ease-in-out;
}

.header .menu li a:hover {
    background-color: var(--bg-color-opacity);
}

.home-container {
    align-items: center;
    justify-content: center;
    min-height: 60vh;
}

.home-container h2 {
    font-size: 3rem;
    letter-spacing: 1px;
}

.home-container span {
    font-size: 3.4rem;
    word-spacing: -7px;
}

.about-me {
    padding: 150px 70px 0px;
    justify-content: space-evenly;
}

.my-photo .blur {
    height: 350px;
    width: 350px;
    background-color: #600001;
    filter: blur(50px);
    border-radius: 50%;
    z-index: -1;
    position: absolute;
}

.my-photo img {
    border-radius: 5px;
    max-width: 350px;
}

.about-me-info {
    max-width: 350px;
}

.about-me h2 {
    font-size: 4.4rem;
    padding-bottom: 10px;
    letter-spacing: 1px;
}

.about-me-info p {
    font-size: 1.8rem;
    text-align: justify;
}