.home {
    height: 100vh;
    position: relative;
}

.home::before {
    position: absolute;
    content: '';
    width: 100%;
    height: 100vh;
    right: 0;
    top: 0;
    background: var(--secondary-bg-color) url(../images/textura-fundo.png) right top/cover no-repeat;
    z-index: -1;
}

.home::after {
    position: absolute;
    content: '';
    width: 100%;
    height: 100vh;
    right: 0;
    top: 0;
    background: linear-gradient(to bottom, transparent, var(--primary-bg-color));
    z-index: -1;
}

.header {
    justify-content: space-between;
    padding: 40px 70px;
    align-items: center;
}

.header .logo {
    color: var(--secondary-color);
    font-size: 3.4rem;
}

.highlight-text {
    font-family: var(--secondary-font);
    text-transform: lowercase;
}

@keyframes fade-up {
    0% {
        opacity: 0;
        transform: translateY(40px);
    }

    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}

.header .menu {
    gap: 20px;
    animation: fade-up 2500ms;
}

.header .menu li a {
    font-size: 1.8rem;
    font-weight: 700;
    letter-spacing: 1px;
    padding: 10px 20px;
    border-radius: 3px;
    transition: 200ms ease-in-out;
}

.header .menu li a:hover {
    background-color: var(--bg-color-opacity);
}

.home-container {
    align-items: center;
    justify-content: center;
    min-height: 50vh;
}

.home-container h2 {
    font-size: 3rem;
    letter-spacing: 1px;
}

.home-container .my-name {
    font-size: 3.4rem;
    word-spacing: -7px;
}

.about-me {
    /* height: 100vh; */
    padding: 80px 0 60px;
    justify-content: space-evenly;
    position: relative;
}

.my-photo .blur {
    height: 350px;
    width: 350px;
    background-color: var(--dark-highlight-color);
    filter: blur(50px);
    border-radius: 50%;
    z-index: -1;
    position: absolute;
}

.my-photo img {
    border-radius: 5px;
    max-width: 350px;
}

.about-me-info {
    max-width: 400px;
}

.about-me h3 {
    font-size: 4.4rem;
    padding-bottom: 10px;
    letter-spacing: 1px;
}

.about-me-info p {
    font-size: 1.8rem;
    text-align: justify;
}

.skills {
    padding: 150px 0;
    position: relative;
    overflow: hidden;
}

.skills .blur-left {
    height: 150px;
    width: 250px;
    background-color: var(--dark-highlight-color);
    filter: blur(80px);
    border-radius: 50%;
    z-index: -1;
    position: absolute;
    top: 50%;
    right: 96%;
}

.skills .blur-right {
    height: 150px;
    width: 250px;
    background-color: var(--dark-highlight-color);
    filter: blur(80px);
    border-radius: 50%;
    z-index: -1;
    position: absolute;
    top: 50%;
    left: 96%;
}

.skills-logos  {
    gap: 50px;
    margin: 50px;  
}

.skills h3 {
    font-size: 4.4rem;
    margin-bottom: 80px;
    letter-spacing: 1px;
    text-align: center;
}

.skills p{
    font-size: 1.8rem;
    text-align: center;
    margin-bottom: 10px;
}

.skills img {
    width: 65px;
}

.projects {
    padding: 50px 0;
}

.projects h3 {
    font-size: 4.4rem;
    letter-spacing: 1px;
    text-align: center;
}

.project {
    justify-content: center;
    gap: 80px;
    padding: 80px 0;
}

@keyframes fade-in {
    0% {opacity: 0;}
    100% {opacity: 1;}
}

.project-screenshot img {
    border-radius: 5px;
    animation: fade-in linear both;
    animation-timeline: view(block);
    animation-range: entry 8% cover 40%;
}

.project-info {
    max-width: 400px;
}

.project-info h4 {
    font-size: 2rem;
    padding-bottom: 18px;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.project-info p {
    font-size: 1.8rem;
    text-align: justify;
    padding-bottom: 10px;
}

.project-info .components {
    gap: 15px;
}

.tool{
    font-size: 1.2rem;
    background-color: var(--bg-color-opacity);
    border-radius: 3px;
    padding: 3px 15px;
    margin-bottom: 15px;
}

.button {
    font-size: 1.6rem;
    background-color:  var(--light-highlight-color);
    border-radius: 50px;
    color: var(--primary-color);
    padding: 10px 40px;
    cursor: pointer;
    box-shadow: 0px 0px 15px var(--dark-highlight-color);
    transition: 200ms ease-in;
}

.button:hover {
    transform: scale(110%);
}


.footer {
    position: relative;
    padding: 120px 0;
}

.footer::before {
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    right: 0;
    top: 0;
    background: var(--secondary-bg-color) url(../images/textura-fundo.png) right top/cover no-repeat;
    z-index: -1;
}

.footer::after {
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    right: 0;
    top: 0;
    background: linear-gradient(to top, transparent, var(--primary-bg-color));
    z-index: -1;
}

.footer h3 {
    font-size: 4.4rem;
    margin-bottom: 80px;
    letter-spacing: 1px;
    text-align: center;
}

.footer-info{
    gap: 30px;
}

.footer-info a {
    width: 300px;
    border-radius: 3px;
    transition: 200ms ease-in-out;
    text-align: center;
    padding: 25px 0;
}

.footer a:hover{
    background-color: var(--bg-color-opacity);
    color: var(--light-highlight-color);
}

.footer-info i{
    font-size: 6rem;
    padding-bottom: 10px;
}

.footer-info p {
    font-size: 1.8rem;
    padding-bottom: 5px;
    font-weight: 700;
    letter-spacing: 1px;
}