:root{
    --primary-bg-color: rgb(46, 45, 43);
    --secondary-bg-color:rgb(36, 32, 32);
    --bg-color-opacity: rgba(246, 244, 241, 0.2);
    --primary-color: rgb(246, 244, 241);
    --secondary-color: rgb(255, 38, 38);
    --dark-highlight-color: rgb(96, 0, 1);
    --light-highlight-color: rgb(194, 8, 8);
    --primary-font: 'PT Sans', sans-serif;
    --secondary-font: 'TaylorGothic', sans-serif;
    --small-font: 1.8rem;
    --big-font: 3.4rem;
}